body {
    background-color: white;
  }
  
  h1 {
    color: black;
    text-align: left;
  }
  h2{Color :black;
text-align: left;
}
Ul{color: black;
  text-align: left;
}

  
  p {
    font-family: Calibri;
    font-size: 20px;
  }